.todo-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .todo-list-item-button {
    margin: 3px;
  }
  
  .todo-list-item-label {
    margin-left: 1.25rem;
    line-height: 25px;
    cursor: pointer;
    user-select: none;
    font-size: 1.25rem;
  }
  
  .item-done  {
    text-decoration: line-through;
  } 
 
  .item-important  {
    font-weight:  bold;
    color: steelblue;
  }

  